* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 255, 255, 0.195);
}

.umumi {
  width: 900px;
  margin: auto;
}
.umumi .search {
  width: 600px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-left: 40px;
  padding-left: 10px;
}
.umumi .basliq {
  text-align: center;
  margin-top: 50px;
}
.umumi .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.umumi .form .input {
  width: 600px;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
}
.umumi .form .textarea {
  width: 600px;
  height: 200px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.umumi .form .orta {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 150px;
       column-gap: 150px;
  margin-top: 20px;
}
.umumi .form .orta .save {
  width: 100px;
  border-radius: 10px;
  height: 40px;
  color: white;
  background-color: burlywood;
  border: transparent;
  cursor: pointer;
}
.umumi .form .orta .colors {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.umumi .form .orta .colors .color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.umumi .form .orta .colors .color.active {
  border: 3px solid white;
}

.cards {
  width: 800px;
  height: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  justify-content: center;
}
.cards .card {
  position: relative;
  border: 2px dashed red;
  width: 200px;
  height: 300px;
}
.cards .card .delete {
  position: absolute;
  right: 8px;
  top: 3px;
  cursor: pointer;
}
.cards .card .delete:hover {
  border: 1px solid transparent;
  background-color: rgb(232, 229, 229);
}
.cards .card h3 {
  padding-left: 10px;
  background-color: pink;
  border-bottom: 1px solid black;
}
.cards .card p {
  text-align: center;
}